@import '~/src/styles/variables';

.page {
    overflow-y: scroll;
}

.page, .page-heading, .about-content, .passion {
    background-color: $color-white;
}

.profile-image-container {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    -webkit-box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.28); 
    box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.28);
    img {
        width: 100%;
        height: 100%;
    }
}

.passions .body-text {
    margin: 0;
    text-align: center;
}

.passion {
    margin-bottom: 3rem;
}

.passion-animation {
    @extend .profile-image-container;
    box-shadow: none;
    max-height: 200px;
    display: flex;
    justify-content: center;
}

@media (min-width: #{$size-md}) {
    .passions .body-text {
        margin-top: 2rem;
    }

    .passion {
        margin-bottom: 0;
    }
}

// Usable along side Bootstrap 'lg' sizing
@media (min-width: #{$size-lg}) {
    .passion {
        padding: 0 2rem;
    }
}

