

<div class="page" >

    <div class="page-heading" appFader [fadeSettings]="{show: true, speed: 200}">
        <div class="hr-container"><hr /></div>
        <p class="m-0">Who I am</p>
    </div>

    <div class="about-content row mt-4"  appFader [fadeSettings]="{show: true, speed: 300}">
        <div class="col-md-4 col-lg-6">

        </div>
        <div class="col-12 col-md-8 col-lg-6">
            <p class="font-10 text-uppercase font-weight-600">Justin Van Der Mespel</p>
            <p class="body-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            </p>
            <p class="body-text">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>

            <div class="profile-image-container">
                <img src="assets/temp/gallery-image.png" alt="">
            </div>
        </div>
    </div>


    <div class="page-heading pt-5 mt-3" appFader [fadeSettings]="{show: true, speed: 200}">
        <div class="hr-container"><hr /></div>
        <p class="m-0">Passions</p>

    </div>

    <div class="passions row mt-4"  appFader [fadeSettings]="{show: true, speed: 300}">
        <div class="passion col-12 col-md-4">
            <div class="row">
                <div class="col-4 col-md-12 d-flex  align-items-center">
                    <div class="profile-image-container mt-0">
                        <img src="assets/temp/gallery-image.png" alt="">
                    </div>
                </div>
                <div class="col-8 col-md-12">
                    <p class="body-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    </p>
                </div>
            </div>
        </div>
        <div class="passion col-12 col-md-4">
            <div class="row">
                <div class="col-4 col-md-12 d-flex  align-items-center">
                    <div class="profile-image-container mt-0">
                        <img src="assets/temp/gallery-image.png" alt="">
                    </div>
                </div>
                <div class="col-8 col-md-12">
                    <p class="body-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    </p>
                </div>
            </div>
        </div>
        <div class="passion col-12 col-md-4">
            <div class="row">
                <div class="col-4 col-md-12 d-flex  align-items-center">
                    <div class="profile-image-container mt-0">
                        <img src="assets/temp/gallery-image.png" alt="">
                    </div>
                </div>
                <div class="col-8 col-md-12">
                    <p class="body-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="page-heading pt-5 pb-5 mt-3" appFader [fadeSettings]="{show: true, speed: 200}">
        <div class="hr-container"><hr /></div>
        <p class="m-0">Skills</p>
    </div>



</div>
