@import '~/src/styles/styles.scss';

.page {
    background-color: $color-white;
}


@media (min-width: #{$size-md}) {


    .work-title {
        font-size: calc(4vw);
    }

    .work-description {
        font-size: 16px;
    }

}