

<div class="page" >

    <div class="page-heading" appFader [fadeSettings]="{show: true, speed: 200}">
        <div class="hr-container"><hr /></div>
        <p class="m-0">Gallery</p>
    </div>

    <div class="gallery-container" *ngFor="let work of fetchedWorks; let wi = index">
        <div class="row" [ngClass]="{'flex-row-reverse': isOdd(wi)}">
            <div class="col-12 col-md-5 "  appFader [fadeSettings]="{show: true, speed: 200}">
                <h1 class="work-title">{{work.title}}</h1>
    
                <p class="body-text">{{work.description}}</p>


                <div class="mt-5" *ngIf="work?.tools?.length">
                    <h4 class="text-uppercase font-12 font-weight-600 color-grey-darker">Tools</h4>

                    <div class="row mt-3">
                        <div class="col-6" *ngFor="let tool of work.tools">
                            <p class="font-10 color-grey-light text-uppercase font-weight-500">{{tool.name}}</p>
                        </div>
                    </div>
                </div>

                <div class="mt-5" *ngIf="work?.links?.length">
                    <h4 class="text-uppercase font-12 font-weight-600 color-grey-darker">Links</h4>

                    <div class="row mt-3">
                        <div class="col-6" *ngFor="let link of work.links">
                            <a href="{{link.src}}" target="_blank" class="font-10 color-grey-light text-uppercase font-weight-500">{{link.title}}</a>
                        </div>
                    </div>
                </div>
                
            </div>
        
            <div class="col-12 col-md-7">
                <ngb-carousel [showNavigationIndicators]="false">
                    <ng-template ngbSlide *ngFor="let image of work?.images; let i = index">
                      <div class="slide-img-wrapper">
                        <img [src]="image.src" alt="{{'Gallery image #' + (i + 1)}}">
                      </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>

        <div class="d-flex">
            <hr class="work-divider" />
        </div>
    </div>

</div>
