@import '~/src/styles/styles.scss';
@import '~/src/styles/variables';

.page {
    overflow-y: scroll;
}

.page, .gallery-container {
    background-color: $color-white;
}

.work-title {
    text-transform: uppercase;
    font-family: $font-roboto;
    line-height: 1;
}

.work-description {
    white-space: pre-line;
}

.carousel {
    -webkit-box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.28); 
    box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.28);
}

.slide-img-wrapper {
    display: flex;

    img {
        width: 100%;
        height: 100%;
    }
}

// Override carousel styles
.visually-hidden {
    display: none;
}
.carousel-control-next, .carousel-control-prev {
    background: none;
    border: none;
}
.hide-first-arrow .carousel-control-prev {
    display:none;
}

.hide-last-arrow .carousel-control-next {
    display: none;
}

@media (min-width: #{$size-md}) {

    .work-title {
        font-size: calc(4vw);
    }

    .work-description {
        font-size: 16px;
    }

}


// Usable along side Bootstrap 'lg' sizing
@media (min-width: #{$size-lg}) {

    p a {
        font-size: 16px
    }
    
    .work-title {
        font-size: 3.5rem;
    }
}