
<div class="page row" [ngStyle]="{'height.px' : screenHeight}">
    <div class="col-12 col-md-6 home-container" appFader [fadeSettings]="{show: true, speed: 300}">
        <p class="hero-text mt-auto">
            Justin
        </p>
        <p class="hero-text">
            MESPEL
        </p>

        <p class="sub-text mt-2 mb-4">
            Web Developer / UI Designer / UX Architect
        </p>

        <div class="mb-auto">
            <button class="btn-primary" routerLink="/develop">
                GALLERY
            </button>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <ng-lottie [options]="lottieLogoOptions" containerClass="home-lottie" width="75%"></ng-lottie>
    </div>
</div>
