@import '~/src/styles/styles.scss';
@import '~/src/styles/layout.scss';


.page {
    background: $color-rgb-teal;

	background: -moz-linear-gradient(-45deg, $color-rgb-teal -10%, $color-rgb-purple 90%);
	background: -webkit-linear-gradient(-45deg, $color-rgb-teal -10%, $color-rgb-purple 90%);
	background: linear-gradient(135deg, $color-rgb-teal -10%, $color-rgb-purple 90%);
    overflow: hidden;
}

.home-container {
    padding-top: 4rem;
}

.hero-text {
    font-size: calc(15vw);
    font-weight: 500;
    text-transform: uppercase;
    margin: 0;
    color: $color-grey-dark;
}

.sub-text {
    color: $color-grey;
    @extend .font-09;
}

.hero-text .sub-text {
    width: 100%;
}

.gallery-button {
    @extend .btn-destyle;
    border-radius: 3px;
    border: 2px solid $color-grey-dark;
    padding: 0.7rem 1rem;
    color: $color-grey-dark;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

@media (min-width: #{$size-md}) {

    .home-container {
        height: 100vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: auto;
        padding-top: 0;
        padding-left: 5vw;
    }
    
    .hero-text {
        font-size: 5rem;
    }

    .sub-text {
        font-size: 1.2rem;
    }

    .gallery-button {
        margin-top: 2rem;
    }

}

@media (min-width: #{$size-xl}) {
    .hero-text {
        font-size: 6rem;
    }
}