/*
* Responsive style sheet based on a mobile-first approach
*/

@import './variables.scss';


// Usable along side Bootstrap 'sm' sizing
@media (min-width: #{$size-sm}) {


}

// Usable along side Bootstrap 'md' sizing
@media (min-width: #{$size-md}) {

    ::-webkit-scrollbar {
        width: 8px;
    }

    .page-heading {
        padding-top: 1rem;
        padding-bottom: 3rem;
        font-size: 1.5rem;
        margin-left: -4rem; // Clear container padding
        .hr-container {
            width: 4rem;
            margin-right: 1rem;
        }
    }
}

// Usable along side Bootstrap 'lg' sizing
@media (min-width: #{$size-lg}) {
    
}

// Usable along side Bootstrap 'xl' sizing
@media (min-width: #{$size-xl}) {


}