/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './variables.scss';


/* General */
body {
    font-family: $font-work-sans;
    line-height: 1;
    background-color: $color-grey-dark;
}


a:hover, a:focus {
    color: $color-red;
}

/* Buttons */
.btn-destyle {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    color: auto;
    background-color: transparent;
}

/* Colors */
.color-grey-light {
    color: $color-grey-light;
}

.color-grey-darker {
    color: $color-grey-darker;
}

/* Fonts */
.body-text {
    @extend .font-09;
    color: $color-grey-light;
    letter-spacing: 1px;
    line-height: 1.1rem;
}

.font-08 {
    font-size: 0.8rem;
}
.font-09 {
    font-size: 0.9rem;
}
.font-10 {
    font-size: 1.0rem
}
.font-12 {
    font-size: 1.2rem;
}
.font-15 {
    font-size: 1.5rem;
}
.font-17 {
    font-size: 1.7rem;
}
.font-20 {
    font-size: 2.0rem;
}

.font-weight-500 {
    font-weight: 500;
}
.font-weight-600 {
    font-weight: 600;
}