/*
* Global variable stylesheet
*/

/* Colors */
$color-grey-light: #797979;

$color-grey: #3f3f3f;
$color-grey-dark: #242424;
$color-grey-darker: #181818;

$color-white: #ececec;
$color-white-dark: #cecece;

$color-red: #ff1c55;
$color-teal: #03c2c2;
$color-purple: #8e44ad;

$color-rgb-teal: rgb(42, 233, 207);
$color-rgb-purple: rgba(142, 68, 173, 1);

$color-svg-teal: invert(91%) sepia(90%) saturate(5325%) hue-rotate(150deg) brightness(155%) contrast(92%);
$color-svg-purple: invert(49%) sepia(82%) saturate(6265%) hue-rotate(267deg) brightness(106%) contrast(82%);

/* Sizing */
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;
$size-xxl: 1480px;
$size-xxxl: 1650px;

$nav-bar-dekstop-width: 65px;
$nav-bar-mobile-height: 50px;

/* Fonts */
$font-work-sans: 'Work Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

