/*
* Global variable stylesheet
*/

/* Colors */
$color-grey-light: #797979;

$color-grey: #3f3f3f;
$color-grey-dark: #242424;
$color-grey-darker: #181818;

$color-white: #ececec;
$color-white-dark: #cecece;

$color-red: #ff1c55;

$color-svg-teal: invert(91%) sepia(90%) saturate(5325%) hue-rotate(150deg) brightness(155%) contrast(92%);
$color-svg-red: invert(50%) sepia(112%) saturate(5207%) hue-rotate(334deg) brightness(134%) contrast(146%);

/* Sizing */
$size-sm: 576px;
$size-md: 768px;
$size-lg: 992px;
$size-xl: 1200px;

$nav-bar-dekstop-width: 65px;
$nav-bar-mobile-height: 50px;

/* Fonts */
$font-work-sans: 'Work Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;

