
<div class="nav-bar">
    <button class="nav-icon icon-teal" role="button" routerLink="home">
        <img src="assets/icons/home.svg" alt="home-button-icon">
    </button>

    <button class="nav-icon icon-red" role="button" routerLink="gallery">
        <img src="assets/icons/camera.svg" alt="gallery-button-icon">
    </button>

    <button class="nav-icon icon-teal" role="button" routerLink="about">
        <img src="assets/icons/about.svg" alt="about-button-icon">
    </button>

    <button class="nav-icon icon-red" role="button" routerLink="contact">
        <img src="assets/icons/contact.svg" alt="contact-button-icon">
    </button>
</div>