
<div class="nav-bar">
    <button class="nav-icon" role="button" routerLink="home">
        <img src="assets/icons/home-temp.png" alt="home-button-icon">
    </button>

    <button class="nav-icon" role="button" routerLink="gallery">
        <img src="assets/icons/home-temp.png" alt="gallery-button-icon">
    </button>

    <button class="nav-icon" role="button" routerLink="about">
        <img src="assets/icons/home-temp.png" alt="about-button-icon">
    </button>

    <button class="nav-icon" role="button" routerLink="contact">
        <img src="assets/icons/home-temp.png" alt="contact-button-icon">
    </button>
</div>